.mockup {
  opacity: 0.6;
  transform: scale(0.8) translateX(200px);
  z-index: 0;
}
.mockup.active {
  opacity: 1;
  transform: scale(1) translateX(0);
  z-index: 10;
}
.mockup.left {
  opacity: 0.6;
  transform: scale(0.8) translateX(-200px);
  z-index: 1;
}
