@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";




html, body {
   margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 12s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* Dropdown Hover */
.group:hover .group-hover\\:block {
  display: block;
}


